<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">XHTML-->
<!DOCTYPE html>
<html lang="en-PL">
<head>
    <!--Django part-->
    {% load static %}
    <!--End of Django-->
    <meta charset="UTF-8">
    <!--meta tells stuff to search engines-->
    <meta name="keywords" content="Free, Restaurant, app">
    <meta name="description" content="Free web Restaurant app">
    <meta name="author" content="Seyhak Ly">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--responsive web design-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!--bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--react-->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <!--statics-->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/babel" href="{% static 'scripts/export_report.js' %}">
    <!--AJAX-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'scripts/ajax-form.js' %}"></script>
    <!--JSX-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <title>Seyhak Ly</title>
</head>

<body>
    <!--Top navbar-->
    <header class="bg-light">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#exportReportModal">Export report</button> 
            </div>
        </div>
    </header>
    <section>
        <div class="modal" id="exportReportModal">
                <div class="modal-dialog modal-lg">
                        <div class="modal-content" id="modal-box">
                    
                          <!-- Modal Header -->
                          <div class="modal-header bg-light">
                            <p class="modal-title">Export Report</p>
                          </div>
                    
                          <!-- Modal body -->
                          <div class="modal-body">
                            <form>
                                        <div class="form-group row">
                                          <label for="report-name" class="col-sm col-form-label">Report name</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control-plaintext" id="report-name" placeholder="Shareable Report">
                                          </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                                <label for="report-name" class="col-sm col-form-label">Format</label>
                                                <div class="col-sm-10">     
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                        <label class="form-check-label" for="inlineRadio1">1</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                        <label class="form-check-label" for="inlineRadio2">2</label>
                                                    </div>
                                                </div>
                                        </div>
                                                
                                        
                                                <div class="form-group row">
                                          <label for="email" class="col-sm-2 col-form-label">E-mail to</label>
                                          <div class="col-sm-10">
                                            <input type="email" class="form-control" id="email" placeholder="client@company.com">
                                          </div>
                                        </div>
                            </form>                                      
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" id="square-btn" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-dark" id="square-btn" data-dismiss="modal">OK</button>
                        </div>
                    
                        </div>
                      </div>
        </div>
    </section>
</body>
<footer class="bg-dark">
    <a class="text-white " href="http://www.seyhak.pl">Seyhak Ly &copy 2019</a> 
</footer>

</html>